@page "/"

<h1>About Movies Info</h1>

<p>Welcome to Movies Info.</p>
<p>
    To get some extraordinary useful information about movies select type of request and then input text of request. <br />
    Try it by choosing type <i>film</i> and requesting <i>"Карменсита"</i>.
</p>
