@page "/person"

@using MoviesInfo.Data
@inject Repository repos
@inject CollectionPrinter printer
@inject Connection connection

@using DatabaseLoader

<h3>Presons</h3>

Input name of person in the field below.

<br />
<br />

<input type="text" @bind="request" />

<br />
<br />

<button class="btn btn-primary" @onclick="processRequest">Search</button>

<br />
<br />

<h4>Result</h4>

@if (this.result == null)
{
    <p>Nothing to show.</p>
}
else
{ 
    <div>
        NAME -- @this.result.name
        <br />
        PLAYED IN: @(CollectionPrinter.Print<String>(result.getPlayedInTitles()))
        <br />
        DIRECTED: @(CollectionPrinter.Print<String>(result.getDirectedTitles()))
    </div>
}

@code {
    private string request = "";
    private Person result;

    public void processRequest() {
        this.result = repos.GetPerson(this.request);
    }
}
