@page "/tag"

@using MoviesInfo.Data
@inject Repository repos
@inject CollectionPrinter printer
@inject Connection connection

@using DatabaseLoader

<h3>Tags</h3>

Input tag in the field below.

<br />
<br />

<input type="text" @bind="request" />

<br />
<br />

<button class="btn btn-primary" @onclick="processRequest">Search</button>

<br />
<br />

<h4>Result</h4>

@if (this.result == null)
{
    <p>Nothing to show.</p>
}
else
{ 
    <div>
        TAG -- @this.result.tag
        <br />
        TITLES: @(CollectionPrinter.Print<String>(this.result.getTitles()))
    </div>
}

@code {
    private string request = "";
    private Tag result;

    public void processRequest() {
        this.result = repos.GetTag(this.request);
    }
}
