@page "/test"

<h3>TestComponent</h3>

<form>
    <select name="command" @bind="type">
        <option value="person">Person</option>
        <option value="film">Film</option>
        <option value="tag">Tag</option>
    </select>
    <br />
    <input type="text" @bind = "request"/>
    <br />
    <button class="btn btn-primary" @onclick="processRequest">Search</button>
</form>

Result: @result

@code {
    private String type = "Default";
    private String request = "Default";
    private String result = "No data.";
    public void processRequest() {
        this.result = request.Equals("Transsexual Cock Riders") && this.type.Equals("film") ? "We have such thing." : "It is Dick data. We do not have such things.";
    }
}
